* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows:  120px 1fr 60px;
    grid-template-areas: "cabecalho" "principal" "rodape";
}

.principal {
    height: calc(100vh - 210px);
    margin: 15px;
}

h3 {
    font-size:  2.1rem;
    margin: 20px;
}

form > div {
    padding-bottom: 15px;
}

label, input, button {
    font-size:  1.5rem;
}

button {
    color: white;
    background-color: #228b22;
}

button:hover {
    cursor: pointer;
    background-color: #124e12;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
}

.cabecalho { /* Aqui não é nome da classe CSS e sim da propriedade grid-area */
    grid-area: cabecalho; /* incluindo o nome a propriedade */
    background-color: #1867c0;
    color: white;
    display: flex; /* Essa propriedade coloca todos os elementos na mesma linha */
    flex-direction: column; /* Direciona os elementos, nesse caso no eixo da coluna */
    justify-content: center; /* Aplica o alinhamento em cima do eixo principal idenpendente se é coluna ou linha*/
    align-items: center; /* Aplica o alinhamento em cima do eixo que corta idenpendente se é coluna ou linha*/
    padding-bottom: 10px;
    z-index: 1; /* Da um certo destaque */
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75); /* cssmatic.com */
}

.cabecalho > h1 {
    margin: 0px;
    font-weight: 300;
    font-size:  2.8rem;
}

.cabecalho > h2 {
    margin: 0px;
    font-weight: 200;
    font-size:  1.6rem;
}

.rodape {
    grid-area: rodape;
    background-color: #3f3f3f;
    display: flex;
    justify-content: flex-end; /* main axis eixo X*/
    align-items: center; /* cross axis eixo Y */
    font-size: 1.2rem;
    padding: 0px 20px; /* 0px no eixo vertical e 20px no eixo horizontal */
    color: white;
}

.erros > p {
    font-size:  1.4rem;
    font-size: 300;
    color: #fff;
    background-color: #ff4500;
    padding: 10px 25px;
    margin-top: 0px;
}